<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>OAuth | Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/styles.css">
    <style>
        body {
            background: #E9ECEF;
        }
    </style>
</head>
<body>
    {{{body}}}
</body>
</html>